# URL de l'API backend
VITE_API_URL=https://www.testmobile.online/api

# Base path de l'app Vite en production
# Exemple même serveur (https://votre-domaine.com/admin): /admin/
# Exemple sous-domaine (https://admin.votre-domaine.com): /
VITE_BASE_PATH=/admin/
